body {
  padding-top: 70px;
  padding-bottom: 30px;
}

#root {
  display: flex;
}

.lane.target {
  outline: 3px dashed #EEE;
}

.box {
}

.box-item-toggle {
  margin: -7px -12px;
  border-color: transparent;
}
